<section class="main-divide">
  <textarea class=" text-area" placeholder="Drag yml file here..."></textarea>
  <div class="output-section">
    <span class="spinner"></span>
    <div id="link-container"></div>
  </div>
</section>